:root {
  --primary-color: #2d8d04;
  --card-background-color: #fefed9;
  --secondary-color: #af8e4c;
  --font-color: #333;
  --background-color: #fcf8c6;
  --primary-hover-color: #0b5d13;
  --primary-forground-color: #fcf8c6;
  --app-border-radius: 12px;
  --button-radius: 100px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

.btn {
  background-color: var(--primary-color);
  color: var(--primary-forground-color);
  padding: 10px 20px;
  border-radius: var(--button-radius);
  transition: background-color 0.3s ease;
  width: fit-content;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

img {
  max-width: 100%;
  display: block;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--app-border-radius);
  overflow: hidden;
  background-color: var(--card-background-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Footer Styles */
.footer {
  background-color: #111;
  color: #fff;
  padding: 60px 0 20px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  margin-bottom: 10px;;
}

.footer-col,
.footer-col h2,
.footer-col h3 {
  margin-bottom: 15px;
  color: var(--primary-color);
}

.footer-col p {
  line-height: 1.6;
  color: var(--card-background-color);
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin: 8px 0;
}

.footer-col a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-col a:hover {
  color:var(--primary-color);
}

.social-links a  {
   display: inline-block;
  margin-right: 12px;
  font-size: 22px;
  color: #fff;
  transition: color 0.3s ease, transform 0.2s;
  gap: 10px;
  margin-top: 20px;
}
.social-links a:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #bbb;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
